<h4>User {{whichOfUsers}} statistic:</h4>

<div>
    <input type="date" #newStartDate>
    <input type="date" #newLastDate>
    <button type="button" class="btn btn-outline-primary btn-lg" (click)="getStatistics(newStartDate, newLastDate)">Go</button>
</div>

<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>

